{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index-index' %}">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'news' %}">新闻公告</a></li>
          <li class="active"><a href="{% url 'meet' %}">会议列表</a></li>
          <li><a href="{% url 'history' %}">往届回顾</a></li>
          <li><a href="{% url 'index-about' %}">关于我们</a></li>
        </ul>
{% endblock %}

{% block context %}
    <div class="row">
       <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2"><h1 class="text-center">{{ meet.title }}</h1></div>
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2">
            <table class="table table-striped">
              <tr>
                <th>报名人</th>
                <th>发票抬头</th>
                <th>纳税人识别号</th>
                <th>快递地址</th>
                <th>邮政编码</th>
                <th>手机号</th>
              </tr>
              {% for user in member %}
              <tr>
                <td>{{ user.realname }}</td>
                <td>{% if user.title %}{{ user.title }}{% endif %}</td>
                <td>{% if user.invoicenum %}{{ user.invoicenum }}{% endif %}</td>
                <td>{% if user.address %}{{ user.address }}{% endif %}</td>
                <td>{% if user.postal %}{{ user.postal }}{% endif %}</td>
                <td>{% if user.phone %}{{ user.phone }}{% endif %}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
