{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index-index' %}">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'news' %}">新闻公告</a></li>
          <li class="active"><a href="{% url 'meet' %}">会议列表</a></li>
          <li><a href="{% url 'history' %}">往届回顾</a></li>
          <li><a href="{% url 'index-about' %}">关于我们</a></li>
        </ul>
{% endblock %}

{% block context %}
    <div class="row">
       <div class="col-md-12 col-sm-12">
    		<div class="row">
    		  <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2"><h1 class="text-center">{{ meet.title }}</h1></div>
    		  <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2" style="margin-top:30px;margin-bottom:30px">{{ meet.body|safe }}</div>
    		</div>
        <div class="row" style="margin-top:30px;margin-bottom:30px">
          <p class="text-center">
            {% if status == 0 %}
              <a class="btn btn-primary btn-lg" href="{% url 'joinmeet' meet.id %}" style="color:white;">报名参会</a>
            {% else %}
              <a class="btn btn-success btn-lg" href="{% url 'memberitem' meet.id %}" style="color:white;">报名成功</a>
            {% endif %}
            {% if request.user.is_staff %}
              <a class="btn btn-primary btn-lg col-md-offset-1" href="{% url 'meetmember' meet.id %}">参会人员</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
{% endblock %}
