{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index-index' %}">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'news' %}">新闻公告</a></li>
          <li class="active"><a href="{% url 'meet' %}">会议列表</a></li>
          <li><a href="{% url 'history' %}">往届回顾</a></li>
          <li><a href="{% url 'index-about' %}">关于我们</a></li>
        </ul>
{% endblock %}

{% block context %}
    <div class="row">
       <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2"><h1 class="text-center">{{ meet.title }}</h1></div>
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2">
            <table class="table table-striped">
              <tr>
                <th>学校名称</th>
                <th>报名人</th>
                <th>参会人数</th>
                <th>住宿</th>
                <th>入住时间</th>
                <th>离开时间</th>
                <th>发票</th>
              </tr>
              {% for user in member %}
              <tr>
                <td>{{ user.university }}</td>
                <td>{{ user.realname }}</td>
                <td>{{ user.pnum }}</td>
                <td>{{ user.livable }}</td>
                <td>{% if user.indate %}{{ user.indate }}{% endif %}</td>
                <td>{% if user.outdate %}{{ user.outdate }}{% endif %}</td>
                <td>{% if user.invoice %}√{% endif %}</td>
              </tr>
              {% endfor %}
            </table>
            <div class="row" style="margin-top:30px;margin-bottom:30px">
              <p class="text-center">
                <a class="btn btn-primary btn-lg" href="{% url 'memberexcel' meet.id %}" style="color:white;">导出Excel</a>
                <a class="btn btn-primary btn-lg col-md-offset-1" href="{% url 'invoicemember' meet.id %}" style="color:white;">发票信息统计</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
